.timeline {
  display: flex;
  justify-content: space-between;
  padding: 0%;
margin: 0%;
    width: 100%;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.027);

}

.timeline p {
  cursor: pointer;
  padding: 8px;
  padding-top: 3px;
    padding-bottom: 3px;
    font-size: smaller;
}

.timeline p.selected {
  color: white;
  background-color: grey;
  border-radius: 20px;
}
