body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5eaf1;
    color: black;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.outer-border {
    background-color: rgba(245,247,250,1);
    width: 300px;
    height: 600px; 
    border-radius: 40px;
    box-shadow: inset -5px -5px 10px rgba(169,184,206,1), inset 5px 5px 10px rgba(220,226,235,1.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.display {
    background-color: rgba(243,246,249,1);         
    width: 280px;
    height: 580px;
    border: 0.2px solid #e3e3e3;
    border-radius: 40px;

    display: flex  ;
    flex-direction: column;
    align-items: center;







}

.power-button {
    background-color: rgba(169,184,206,1); 
    width: 3px; 
    height: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 120px;
    right: -3px;
}

.volume-button-up {
    background-color: rgb(212, 218, 226); 
    width: 3px; 
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 120px;
    left: -3px;
}

.volume-button-down {
    background-color: rgb(212, 218, 226); 
    width: 3px; 
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 180px;
    left: -3px;
}

.sim {
    background-color: rgb(212, 218, 226); 
    width: 3px; 
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 70px;
    left: -3px;
}

.upper-part{

    background-color: rgba(245,247,250,1);
    width: 145px; 
    height: 30px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.camera {
    background-color: rgba(245,247,250,1); 
    width: 6px; 
    height: 6px;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.425);
    top: 50%;
    transform: translateY(-50%);
    left: 75%;
}

.speaker {
    background-color: rgba(245,247,250,1); 
    width: 50px; 
    height: 6px;
    border-radius: 10px;
    position: absolute;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.425);
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}

.upper-header {



    width: 100%;
    height: 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;


    


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}



.time {
    color: black;
    width: 65px;
    



    font-size: 10px;


    padding-top: 5px;



    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}







.icons{
    color: black;
    width: 65px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;




    
    padding-right: 3px;
    padding-left: 7px;

    padding-bottom: 3px;




}

.icons .icon {
    color: black;
    height: 8px;
    margin-left: -2px;
}



.header-parent{

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 260px;

    height: fit-content;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    margin-top: 10px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.017);



}

.header{

    margin-top: 20px;
    width: 100%;
    height: 50px;
    margin-bottom: 0;



}


.navbar{

    background-color: white;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    margin-bottom: 10px;


    position: absolute;
    bottom: 10px;

    width: 260px;


}

.buy-sell-home{
    width: 260px;

}


.mobile-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* scrollable */
    overflow-y: scroll;
    height: 70%;

    /* make scroll bar invisible */
    scrollbar-width: none;
    -ms-overflow-style: none;
    




}